**Assignemnt :1**
  Use the dictionary, port1 = {21: "FTP", 22:"SSH", 23: "telnet", 80: "http"}, and make a new dictionary in which keys become values and values become keys, as shown: Port2 = {“FTP":21, "SSH":22, “telnet":23,
"http": 80}

In [30]:
port1 = {21:"FTP", 22:"SSH", 23:"telnet",80:"http"} 
print("Original dictionary is : ",port1) 
port2={}
for k,v in port1.items():
    port2[v]=k
print("Dictionary after swapping the keys and values is: ",port2)

Original dictionary is :  {21: 'FTP', 22: 'SSH', 23: 'telnet', 80: 'http'}
Dictionary after swapping the keys and values is:  {'FTP': 21, 'SSH': 22, 'telnet': 23, 'http': 80}

**Assignment 2:**
Take a list of tuple as shown below.
[(1,2), (3,4), (5,6),(4,5)]
Make a new list which contains sum of number of tuples. 
For example 
Input 
[(1,2), (3,4), (5,6)]
Out put 
[3, 7, 11]

In [11]:

list1=[(1,2),(3,4),(5,6),(4,5)]
list2=[]
for i in list1:
    list2.append(i[0]+i[1])
    
print("Sum of numbers of tuples is: ",list2)

Sum of numbers of tuples is:  [3, 7, 11, 9]

**Assignment 3:**

Take a list as shown below 
[(1,2,3), [1,2], ['a','hit','less']]
The List contains tuple and lists. Make the elements of inner lists and tuples to outer list

In [26]:
l1 = [(1,2,3),(1,2),['a','hit','less']]
print("The first element is of type: ",type(l1[0]))
print("The second element is of type: ",type(l1[1]))
print("The third element is of type: ",type(l1[2]))
outer_list= [item for t in l1 for item in t]
print(out)

The first element is of type:  <class 'tuple'>
The second element is of type:  <class 'tuple'>
The third element is of type:  <class 'list'>
[1, 2, 3, 1, 2, 'a', 'hit', 'less']